.node #title{
	background-color: #785964;
}

.node #title #title-label{
	color: white;
}

.BoxRow{
	align-self: flex-end;
	padding: 1px;
	margin: 1px;
}

.BtnBox{
	padding: 0px;
	margin: 0px;
}

.StartEventBox{
	flex-direction: column;
	border-color: #5C5C5C;
	border-width: 4px;
	padding: 5px;
	background-color: rgb(50, 50, 50);
	margin-bottom: 1px;
}